<!DOCTYPE html>
<html>
<style>
    body {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border-radius: 4px;
        box-sizing: border-box;
        background-color:#ebebeb;
        font-size:14px;
    }
</style>
<body>
<h1 style="text-align: center; color: darkgreen">Url Analyser</h1>
<p>Title : {{ .Title}}</p>
<p>HTML Version: {{ .Version}}</p>
{{ range .Headers}}
    {{if gt .Count 0}}
        <p>Number of {{.HeadingType}} headings: {{ .Count}}</p>
    {{end}}
{{end}}
{{if gt .InternalLinks 0 }}
    <p> Number of internal links: {{ .InternalLinks }} </p>
{{end}}
{{if gt .ExternalLinks 0 }}
    <p> Number of external links: {{ .ExternalLinks}}  </p>
{{end}}
{{if gt .InaccessibleLinkCount 0 }}
    <p>Number of inaccessible Links: {{.InaccessibleLinkCount}}</p>
{{end}}
{{if .LoginFormPresent }}
    <p>Login Form - Present</p>
{{end}}

</body>
</html>